* {
  background: none !important;
  font-weight: normal !important;
  -webkit-box-shadow: none  !important;
  -moz-box-shadow: none  !important;
  box-shadow: none  !important; }




.ui-outPrintLogo {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 330px;
  background-color: white !important;
  padding: 10px;
  -webkit-box-shadow: 3px 7px 16px -7px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 3px 7px 16px -7px rgba(0, 0, 0, 0.7);
  box-shadow: 3px 7px 16px -7px rgba(0, 0, 0, 0.7); }

.ui-outputlabel {
  color: white !important;
  font-weight: normal !important; }

.title1 {
  font-size: 2em !important;
  color: white; }

.title2 {
  font-size: 1em;
  color: white;
  text-shadow: none !important; }

body {
  background-repeat: no-repeat,no-repeat !important;
  background-size: cover !important; }

.body-cuerpo {
  position: fixed !important;
  height: 100%;
  min-height: 100%;
  width: 300px;
  background-color: rgba(2, 2, 2, 0.7) !important;
  color: rgba(9, 9, 9, 0.3) !important;
  padding-top: 70px !important;
  padding: 50px !important; }

#footer {
  position: fixed   !important;
  bottom: 10px !important;
  right: 20px !important; }

@media (max-width: 450px) {
  .title1 {
    font-size: 1.5em !important;
    color: white; }

  .body-cuerpo {
    max-width: 100% !important;
    width: 100% !important;
    padding: 5px !important;
    padding-top: 70px !important; }

  #footer {
    position: fixed   !important;
    bottom: 10px !important;
    right: 20px !important; } }
@media (max-width: 768px) {
  .contenedor {
    margin: auto;
    max-width: 90%; }

  body {
    background: url("images/Diseno2/fondo 2.png") fixed top !important;
    background-repeat: no-repeat !important;
    background-size: cover !important; } }
@media (max-width: 900px) {
  .ui-outPrintLogo {
    display: none; } }
.ui-btn, .ui-menu {
  font-weight: normal !important;
  font-family: Open Sans !important;
  text-shadow: none !important; }

alink:link {
  text-decoration: none;
  color: white; }

alink:visited {
  text-decoration: none;
  color: white; }

alink:hover {
  text-decoration: none;
  color: white; }

alink:active {
  text-decoration: none;
  color: white; }

.columtable {
  width: 100px; }

.overlaypenel {
  background-color: #0072cf;
  color: white;
  border: none;
  font-family: Open Sans !important;
  font-weight: bold !important;
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important; }

.ui-separator {
  background-color: #A90083;
  border: #A90083 1px solid; }

.table {
  border: 2px solid black;
  -webkit-box-shadow: 3px 7px 16px -7px rgba(0, 0, 0, 0.48);
  -moz-box-shadow: 3px 7px 16px -7px rgba(0, 0, 0, 0.48);
  box-shadow: 3px 7px 16px -7px rgba(0, 0, 0, 0.48); }

body {
  background-color: #edf0f5 !important; }

.contectexdatatable {
  max-width: 100%; }

.columnStyle {
  margin-right: 5px !important; }

.labelText {
  color: black !important; }

.ui-outputlabel {
  color: black !important;
  font-weight: normal !important; }

.tittle {
  color: black !important;
  font-size: 1.5em !important;
  font-weight: normal !important;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none; }

.contenedoresAdmon {
  background: #fff !important;
  padding: 20px !important;
  margin: 30px !important;
  max-height: 90%;
  min-height: 90%;
  min-height: 100%;
  max-width: 100%;
  -webkit-box-shadow: 3px 7px 16px -7px rgba(0, 0, 0, 0.48);
  -moz-box-shadow: 3px 7px 16px -7px rgba(0, 0, 0, 0.48);
  box-shadow: 3px 7px 16px -7px rgba(0, 0, 0, 0.48); }

.contenedoresAdmon2 {
  margin: 50px !important; }

.panelContent {
  padding: 20px;
  margin: 10px;
  background: #fff !important;
  -webkit-box-shadow: 3px 7px 16px -7px rgba(0, 0, 0, 0.48);
  -moz-box-shadow: 3px 7px 16px -7px rgba(0, 0, 0, 0.48);
  box-shadow: 3px 7px 16px -7px rgba(0, 0, 0, 0.48); }

.divContenHome {
  margin: 0px;
  position: relative;
  height: 0;
  padding-bottom: 40%;
  z-index: 1;
  background: url("../img/fondo2.jpg") fixed top !important;
  background-repeat: no-repeat,no-repeat !important;
  background-size: cover !important; }

.buttonStyle1 {
  border: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none; }

.ui-input-text {
  background: white !important; }

.ui-btn {
  background-color: rgba(0, 0, 0, 0.3) !important;
  color: white !important; }

.ui-calendar, .ui-calendar-popup {
  margin: 0px !important;
  padding: 10px !important; }

.ui-popup {
  background-color: white !important;
  color: black !important;
  font-weight: bold !important; }

.ui-styleinputtext {
  width: 230px !important;
  max-width: 230px !important;
  min-width: 230px !important;
  margin: 0px !important;
  padding: 0px !important; }

.ui-outputlabel {
  min-width: 250px; }

.ui-block {
  width: 50% !important;
  background-color: black; }

.selected .ui-btn, .ui-input-text .ui-btn {
  background-color: #66bc29 !important; }

.ui-btnstyle {
  background-color: #66bc29 !important;
  color: white !important; }

@media (max-width: 1200px) {
  .ui-panelstyel {
    width: 100% !important; }

  .ui-block-a {
    width: 100% !important; }

  .ui-block-b {
    width: 100% !important; }

  .ui-styleinputtext {
    width: 100% !important;
    margin: 0px !important;
    padding: 0px !important; }

  .contenedoresAdmon {
    height: auto !important; } }
@media (max-width: 900px) {
  .ui-panelstyel {
    min-width: 400px;
    width: 100% !important; }

  .ui-input-text, .ui-calendar, .ui-outputlabel {
    width: 100% !important;
    margin: 0px; }

  .columtable {
    width: 100%; }

  .ui-outputlabel {
    min-width: 50px; }

  .contenedoresAdmon2 {
    height: auto !important; }

  .contenedoresAdmon2, .contenedoresAdmon {
    height: auto !important;
    margin: 0px !important;
    padding: 0px !important;
    width: 100% !important;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none; }

  .panelContent {
    height: auto !important;
    margin: 0px !important;
    padding: 0px !important;
    width: 100% !important;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none; }

  .contectexdatatable {
    max-width: 90%; } }
@media (max-width: 450px) {
  .ui-input-text {
    width: auto !important; }

  .contenedoresAdmon2, .contenedoresAdmon {
    height: auto !important;
    margin: 0px !important;
    padding: 0px !important;
    width: 100% !important;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none; }

  .panelContent, .panelGp {
    height: auto !important;
    margin: 0px !important;
    padding: 0px !important;
    width: 100% !important;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none; } }


